


<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li><a routerLink="/create" routerLinkActive="active">Create</a></li>
      <li><a routerLink="/update" routerLinkActive="active">Update</a></li>
      <li><a routerLink="/list" routerLinkActive="active">List</a></li>
      <li><a routerLink="/department" routerLinkActive="active">Departments</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
